<li>
	{{flavor}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}DEVOUR!{{else}}THROW UP!{{/if}}
	</button>

	<button class="delete-pizza" data-id="{{this.id}}">DELETE!</button>
</li>
